# Train dataset
train:
  _target_: motif.data.dataset.MultiSourceDataset
  dataset_dir: ${paths.preprocessed_dataset}
  split: train
  included_variables_dict:
    _target_: motif.data.utils.read_variables_dict
    variables_dict: ${sources}
  # Minimum and maximum time delta (dt) that define the time window within
  # which sources must be jointly available to form a sample.
  # For example, dt_min = -3 and dt_max = 0 means that the samples are
  # formed by sources available within [t_0 - 3h, t_0], where t_0 is the
  # reference time of the sample.
  dt_min: ???
  dt_max: ???
  dt_min_norm: null
  dt_max_norm: null

  # Availabiity criteria by groups of sources: for each group, specify
  # the list of sources in the group, and the (min, max) number of
  # sources from that group that must be available in each sample.
  # Structure:
  # {
  #   group_name1: {
  #       sources: [source1, source2, ...],
  #       availability: [min_avail, max_avail]
  #   },
  #   group_name2: {
  #       ...
  #   }
  # }
  groups_availability: {}  # By default, no availability criteria
  # Minimum difference in hours between two samples of the same storm.
  # This can be used to reduce redundancy and limit the number of samples.
  min_ref_time_delta: 0
  # Number of workers for the data loading
  num_workers: ${dataloader.num_workers}
  # By default, don't select the closest sources to the reference time, but rather shuffle the sources so that if a subset of them is selected, that subset is random.
  select_closest: false
  # Optionally limit the number of samples (for quicker experiments)
  limit_samples: null  # Either float (fraction) or int (number of samples)
  # Data augmentation to apply
  data_augmentation: ${data_augmentation}

# Validation dataset
val:
  _target_: motif.data.dataset.MultiSourceDataset
  dataset_dir: ${paths.preprocessed_dataset}
  split: val
  included_variables_dict:
    _target_: motif.data.utils.read_variables_dict
    variables_dict: ${sources}
  dt_min: ${dataset.train.dt_min}
  dt_max: ${dataset.train.dt_max}
  dt_min_norm: ${dataset.train.dt_min_norm}
  dt_max_norm: ${dataset.train.dt_max_norm}
  groups_availability: ${dataset.train.groups_availability}
  min_ref_time_delta: ${dataset.train.min_ref_time_delta}
  num_workers: ${dataset.train.num_workers}
  select_closest: ${dataset.train.select_closest}
  limit_samples: ${dataset.train.limit_samples}
  data_augmentation: ${data_augmentation}

# Test dataset
test:
  _target_: motif.data.dataset.MultiSourceDataset
  dataset_dir: ${paths.preprocessed_dataset}
  split: test
  included_variables_dict:
    _target_: motif.data.utils.read_variables_dict
    variables_dict: ${sources}
  dt_min: ${dataset.train.dt_min}
  dt_max: ${dataset.train.dt_max}
  dt_min_norm: ${dataset.train.dt_min_norm}
  dt_max_norm: ${dataset.train.dt_max_norm}
  groups_availability: ${dataset.train.groups_availability}
  min_ref_time_delta: ${dataset.train.min_ref_time_delta}
  num_workers: ${dataset.train.num_workers}
  select_closest: ${dataset.train.select_closest}
  data_augmentation: ${data_augmentation}